.env
.env.local
.env.*.local
node_modules/
.next/
out/
.next-static/
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.local
coverage/
**/*.tsbuildinfo
